target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Docker ###
# Docker 数据卷（由 Docker 管理，不需要提交）
docker-compose.override.yml
*.env.local

# Docker 相关日志和临时文件
*.log
.env.backup


### Documents ###
# 排除所有 PDF、Word 等文档文件
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx